
/* Variables */


:root {
  /* dark shades of primary color*/
  --color1: #063251;
  --color2: #104e7a;
  --color3: #1a6aa2;
  --color4: #2d87c8;
  /* primary/main color */
  --color5: #49a6e9;
  /* lighter shades of primary color */
  --color6: #6ebef7;
  --color7: #8bcbf9;
  --color8: #89CFF0;
  --color9: #c5e5fc;
  --color10: #ebf7ff;
  /* darkest grey - used for headings */
  --colorgrey-1: #102a42;
  --colorgrey-2: #243a52;
  --colorgrey-3: #324d67;
  --colorgrey-4: #48647f;
  /* grey used for paragraphs */
  --colorgrey-5: #617d98;
  --colorgrey-6: #829ab0;
  --colorgrey-7: #9eb2c7;
  --colorgrey-8: #bcccdc;
  --colorgrey-9: #dae2ec;
  --colorgrey-10: #F9F6EE	;
  --colorwhite: #E2DFD2;
  --color-red-dark: #bb2525;
  --color-red-light: #e66b6b;
  --colorgreen-dark: #25bb32;
  --colorgreen-light: #6be675;
  --colorblack-: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/* Global styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--colorgrey-10);
  color: var(--colorgrey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--colorgrey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--colorblack-);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--colorblack-);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--colorwhite);
  background: var(--colorblack-);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  text-align: center;

}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Grocery List */

.section-center {
  background: var(--colorwhite);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
 
}
.section-center:hover {
  box-shadow: var(--dark-shadow);
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.grocery-form h3 {
  color: var(--color1);
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
}
.grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--colorgrey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--colorgrey-5);
}
.grocery::placeholder {
  font-family: var(--ff-secondary);
  color: var(--colorgrey-5);
}
.submit-btn {
  background: var(--color8);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--color5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.submit-btn:hover {
  background: var(--color5);
  color: var(--colorwhite);
}

.grocery-container {
  margin-top: 2rem;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.grocery-item:hover {
  color: var(--colorgrey-5);
  background: var(--colorgrey-10);
}
.grocery-item:hover .title {
  color: var(--colorgrey-5);
}
.title {
  margin-bottom: 0;
  color: var(--colorgrey-1);
  letter-spacing: 2px;
  transition: var(--transition);
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: var(--colorgreen-light);
}
.edit-btn:hover {
  color: var(--colorgreen-dark);
}
.delete-btn {
  color: var(--color-red-light);
}
.delete-btn:hover {
  color: var(--color-red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--color-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--color-red-dark);
}